* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* same class */
.btn {
    font-size: 16px;
    font-weight: 600;
    color: #FFFFFF;
    background-color: #469165;
    border-radius: 4px;
    padding: 16px 12px;
    border: none;
    cursor: pointer;
}

.section-heading {
    max-width: 1280px;
    text-align: center;
}

.section-heading h2 {
    font-size: 48px;
    margin-bottom: 16px;
}

.section-heading p {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 44px;
    color: #627382;
}


/* different classes */
.font-inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

#header-section {
    max-width: 1600px;
    /* width: 93%; */
}

#header-section .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 120px;
    margin: 0 auto;

    /* background-color: aqua; */
}

#header-section .nav-bar .logo img {
    max-width: 139px;
}

#header-section .nav-bar .menu {
    display: flex;
    list-style-type: none;
    gap: 32px;
}

.nav-bar .menu a {
    font-size: 16px;
    color: #000000;
    text-decoration: none;
}

#hero-section {
    /* border: 2px solid red; */

    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../assets/hero-bg.png);
    height: 670px;
    background-size: cover;

}


#hero-section .hero-content h1 {
    max-width: 770px;
    font-size: 72px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 16px;
    color: white;
}

.green-heading {
    color: #30B868;
}

.hero-content p {
    font-size: 18px;
    line-height: 24px;
    max-width: 675px;
    text-align: center;
    margin-bottom: 32px;
    color: #FFFFFF;
}

.hero-content .btn-content {
    text-align: center;
}

#notes {
    padding-top: 50px;
    background-color: #fbfbfb;
}

#notes .notes-container {
    max-width: 1360px;
    margin: 0 120px 120px 120px;
    text-align: center;
}

#notes .notes-container .note-box {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.note-box .note-card {

    max-width: 322px;
    padding: 24px 24px;
    border-radius: 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.06);

}

.note-box .note-card img {
    width: 60px;
    height: 60px;
    background-color: #F95555;
    border-radius: 50%;
    padding: 20px;
    object-fit: contain;
    margin-bottom: 16px;
}

.note-box .note-card h2 {
    font-size: 24px;
    font-weight: 600;
    color: #001931;
    margin-bottom: 16px;
}

.note-box .note-card p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
}

#solution {
    max-width: 1360px;
    margin: 0 120px 120px 120px;
}

#solution .solution-container {
    display: flex;
    gap: 60px;
    margin: 0 auto;
    align-items: center;
}

#solution .solution-container .solution-img img {
    width: 600px;
    height: 600px;
    border-radius: 12px;
}

.solution-content {
    max-width: 700px;
    align-items: center;
}

.solution-content .solution-content-heading {
    font-size: 16px;
    line-height: 20px;
    color: #469165;
    margin-bottom: 16px;
}

.solution-content h2 {
    font-size: 48px;
    color: #001931;
    margin-bottom: 16px;
}

.solution-content p {
    font-size: 16px;
    line-height: 20px;
    color: #627382;
    margin-bottom: 40px;
}

.solution-content ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.solution-content ul li {
    margin: 0;
    padding: 0;
    background: url('../assets/CheckCircle.png') no-repeat 0 0;
    padding-left: 40px;
    min-height: 40px;
}

#early-access {
    max-width: 1600px;
}

#early-access .early-access-container {
    max-width: 1360px;
    margin: 0 120px 120px 120px;
    padding: 80px 40px;
    border-radius: 12px;
    background: rgba(247, 246, 242, 1);

}

#early-access .early-access-container .early-access-notice {
    text-align: center;
    margin: 16px 0;
    color: #627382;
}


/* footer css */
#footer {
    max-width: 1600px;
    /* height: 348px; */
    /* background-color: #001931; */
    /* background-color: aquamarine; */
    background: var(--Style, rgba(0, 25, 49, 1));
    padding: 120px 120px 30px 120px;
}

#footer .footer-container {
    max-width: 1360px;
    text-align: center;
    margin: 0 auto;
}

#footer .footer-container .footer-info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 80px;
}

.footer-info .footer-logo img {
    max-width: 140px;
    height: 60px;
    gap: 16px;
}

.social p {
    color: #FFFFFF;
    max-width: 113px;
    line-height: 28px;
    font-size: 20px;
    font-weight: 400;
    text-align: start;
    margin-bottom: 12px;
}

.social .icon img {
    background-color: white;
    max-width: 20px;
    height: 20px;
    margin: 5px;
}

.copyrights {
    margin-top: 30px;
}

.copyrights p {
    color: #fafafa;
}

/* extra btn work */
.btn-content img {
    text-align: center;
    vertical-align: middle;
    width: 18px;
    height: 16px;
    font-weight: 900;
}

.btn:hover {
    background-color: gray;
}

.note-card:hover {
    /* border: 1px solid #F95555; */
    background-color: #F95555;
    transition-duration: 0.5s;
}

.nav-bar li:hover {
    background-color: #30B868;
}

.transparent-btn {
    background-color: transparent;
    border: 1px solid white;
}

hr {
    border: 1px solid rgba(229, 231, 235, 1);
    opacity: 0.2;

}